@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-jakarta: "PlusJakartaSans", sans-serif;
  --font-inter: "Inter", sans-serif;

  --gradient-primary: linear-gradient(
    90deg,
    #123288 0%,
    #295EEC 100%
  );
  --color-primary-1: #FEAA09;
  --color-primary-2: #343C6A;
  --color-primary-3: #2D60FF;


  --color-secondary: #FE5C73;

  --color-accent-green:#16DBCC;
  --color-accent-shadow-green:#DCFAF8;
  --color-accent-pink:#FF82AC;
  ---color-accent-pink-shadow:#FFE0EB;
  --color-accent-blue:#396AFF;
  --color-accent-blue-shadow:#E7EDFF;
  --color-accent-pink-notifikasi:#FE5C73;
  --color-accent-yellow:FFBB38;
   --color-accent-yellow-shadow:FFF5D9;
   

  --color-neutral: #FFFFFF;
  --color-neutral-gray: #B1B1B1;
  --color-neutral-teks:#718EBF;

  --color-success: #22C55E;
  --color-error: #EF4444;
  --color-warning: #FACC15;
  --color-info: #3B82F6;

}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

